.container-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    font-family: cursive;
    /* background-color: rgba(255, 255, 255, 0.1); */
    background-image: radial-gradient(87% 50% at 50% -38%, rgba(255, 255, 255, 0.05) 77.5%, rgba(255, 255, 255, 0.016) 88.13%, rgba(255, 255, 255, 0) 100%), radial-gradient(97% 109% at 48% 0px, rgba(0, 0, 0, 0.07) 0px, rgba(0, 0, 0, 0.4) 100%);
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 26%;
}

.title {
    font-size: 1rem;
    font-weight: 400;
}